@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}

input {
  border: 1px solid black;
}

#chat-container {
  scrollbar-width: 0;
}

#chat-container::-webkit-scrollbar {
  display: none;
}
